.ticket__custominput {
  color: black;
}

.ticket__custominput > p {
  margin-bottom: 10px;
}
.ticket__custominput input {
  padding: 10px 20px;
  width: 240px;
  border-radius: 6px;
  border: 2px solid rgb(238, 238, 238);
}
.ticket__custominput input:focus {
  border: 2px solid rgb(225, 225, 225);
}
