.trip-detail__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.trip-detail__info {
  width: 100%;
  background: rgb(255, 255, 255) !important;
  display: flex;
  margin-bottom: 10px;
  margin-top: 20px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}
.trip-detail__info .info {
  padding: 25px 35px;
  position: relative;
  padding-left: 0px;
  margin-left: 0px;
}
.trip-detail__info .img-bus {
  width: 140px;
  margin-right: 20px;
  margin-left: 10px;
}

.trip-detail__info .img-bus img {
  margin-left: 0px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: var(--border-radius);
}

.quantity-info {
  display: flex;
  font-size: 1.8rem;
  margin-top: 30px;
}
.quantity-info .chair-number {
  margin-right: 40px;
  display: flex;
  align-items: center;
}
.quantity-info .chair-number .quantity {
  font-size: 2.2rem;
  margin-left: 10px;
}
.quantity-info i {
  margin-right: 10px;
  font-size: 2rem;
}
.quantity-info span {
  font-size: 1.8rem;
}
.quantity-info .type {
  text-transform: lowercase;
  font-weight: 600;
  background-color: rgb(231, 231, 231);
  padding: 6px 10px;
  font-size: 1.4rem;
  margin-left: 10px;
  border-radius: var(--border-radius-small);
  color: var(--text-color);
}

.trip-detail__info .enterprise {
  font-size: 2.4rem;
  margin-bottom: 10px;
}

.trip-detail__info .detail-info h2 {
  font-size: 1.7rem;
}

/* TRIP LIST CARD */
.export-to-excel__wrapper {
  position: absolute;
  right: 20px;
  top: 90px;
}
.list-ticket {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(236, 236, 236, 0.329);
  padding-top: 25px;
  border-radius: 10px;
}

.list-ticket .card1 {
  background-color: rgb(255, 255, 255);
  color: var(--text-color);
  min-width: 270px;
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgb(211, 211, 211);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 200px;
}
.list-ticket .card1.unknow {
  background-color: rgb(255, 226, 224);
}
.list-ticket .card1:hover {
  box-shadow: 0px 0px 5px rgb(0, 150, 187);
}
.list-ticket .card1-body {
  padding: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
}
.list-ticket .card1-body .customer-name {
  font-size: 1.7rem;
  margin-bottom: 20px;

  color: rgb(0, 150, 187);
}
.list-ticket .offline-customer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-ticket .card1-body .customer-number {
  display: inline;
  font-size: 1.7rem;
  margin-bottom: 10px;
  margin-top: -10px;
  padding: 5px 10px;
  background-color: white;
  border: 1px solid rgb(0, 150, 187);
  color: rgb(0, 150, 187);
  width: fit-content;
  border-radius: 5px;
  font-size: 1.2rem;
}
.list-ticket .card1-header {
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.list-ticket .card1-header .number-chair {
  padding: 0px;
}
.list-ticket .card1.selected {
  /* background-color: rgb(236, 236, 236); */
  background-color: rgb(238, 250, 255);
}
.list-ticket .card1.offline-paid {
  background-color: rgb(230, 255, 236);
}
.list-ticket .card1-header .status {
  height: fit-content;
  font-size: 1.2rem;
  padding: 6px 10px;
  color: rgb(121, 121, 121);
  border: 1px solid rgb(104, 94, 94);
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
}
.list-ticket .card1-header .status.confirm {
  color: rgb(0, 226, 75);
  border: 1px solid rgb(0, 226, 75);
}
.list-ticket .card1-header .status.paid {
  background-color: #50c878;
  color: #fff;
  border: 1px solid transparent;
}
.list-ticket .btn-add-ticket {
  padding: 10px 16px;
  margin-top: 10px;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(0, 150, 187);
  margin-bottom: 20px;
  background-color: rgb(243, 243, 243);
}
.list-ticket .btn-add-ticket:hover {
  cursor: pointer;
  background-color: rgb(0, 150, 187);
  color: white;
}

.trip_detail__wagon {
  width: 100%;
  height: 100px;
  border-radius: 8px;
  padding: 10px 10px;
  background: white;
  box-shadow: var(--box-shadow);
  display: flex;
  gap: 10px;
}
.trip-detail__wagon .scroll-wagon {
  display: flex !important;
  overflow: scroll;
  align-items: center;
  gap: 110px;
}
.trip_detail__wagon .wagon {
  border-radius: 8px;
  cursor: pointer;
  width: 200px;
  min-width: 200px;
  height: 70px;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(216, 216, 216);
  position: relative;
  font-size: 14px;
}
.trip_detail__wagon .wagon:hover {
  animation: hoverZoom 0.1s;
  transform: scale(1.05);
}
@keyframes hoverZoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
.trip_detail__wagon .wagon.active {
  border: 2px solid rgb(0, 150, 187);
}
.trip_detail__wagon .wagon:after {
  content: "";
  display: block;
  top: 0px;

  right: 0px;
  left: 0px;
  position: absolute;

  height: 15px;
  background: rgb(216, 216, 216);
}
.trip_detail__wagon .wagon.active:after {
  background: rgb(0, 150, 187);
}
.trip-detail__info .select {
  padding-left: 20px;
  border-left: 2px solid rgb(202, 202, 202);
  height: fit-content;
  display: flex;
  gap: 10px;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.trip-detail__info .select.disable {
  opacity: 0.4;
  user-select: none;
  position: relative;
}
.trip-detail__info .select.disable:after {
  content: "";
  display: block;
  background: #000;
  z-index: 20;
  background-color: transparent;

  position: absolute;
  inset: 0px;
}
.trip-detail__info .resetGeneral {
  margin-top: 40px;
  margin-left: 20px;
  width: fit-content;
  height: 35px;
  padding: 0 10px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 150, 187);
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
}
.trip-detail__info .resetGeneral:hover {
  background: rgba(237, 237, 237, 0.464);
  cursor: pointer;
}
.trip-detail__info .resetGeneral.active {
  background: rgb(0, 150, 187);
  color: white;
}
.loadingComponent {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingComponent .loading-content {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 6px solid rgb(0, 150, 187);
  border-right-color: transparent;
  animation: spin 0.5s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* select box style */
/**
 * Main wrapper
 */
.select-search {
  width: 200px;
  position: relative;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

.select-search *,
.select-search *::after,
.select-search *::before {
  box-sizing: inherit;
}

/**
* Value wrapper
*/
.select-search__value {
  position: relative;
  z-index: 1;
}

.select-search__value::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: calc(50% - 9px);
  right: 19px;
  width: 11px;
  height: 11px;
}

/**
* Input
*/
.select-search__input {
  display: block;
  height: 36px;
  width: 100%;
  padding: 0 20px 0 15px;
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  outline: none;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  text-align: left;
  text-overflow: ellipsis;
  line-height: 36px;
  -webkit-appearance: none;
}

.select-search__input::-webkit-search-decoration,
.select-search__input::-webkit-search-cancel-button,
.select-search__input::-webkit-search-results-button,
.select-search__input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.select-search__input:not([readonly]):focus {
  cursor: initial;
}

/**
* Options wrapper
*/
.select-search__select {
  background: white;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
  padding-left: 0px !important;
}

/**
* Options
*/
.select-search__options {
  list-style: none;
  padding-left: 0px;
}

/**
* Option row
*/
.select-search__row:not(:first-child) {
  border-top: 1px solid #eee;
}

/**
* Option
*/
.select-search__option,
.select-search__not-found {
  display: block;
  height: 46px;
  width: 100%;
  padding: 10px;
  background: #fff;
  border: none;
  outline: none;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}

.select-search--multiple .select-search__option {
  height: 48px;
}

.select-search__option.is-selected {
  background: rgb(0, 150, 187);
  color: #fff;
}

.select-search__option.is-highlighted,
.select-search__option:not(.is-selected):hover {
  background: rgba(47, 204, 139, 0.1);
}

.select-search__option.is-highlighted.is-selected,
.select-search__option.is-selected:hover {
  background: rgb(0, 150, 187);
  color: #fff;
}

.select-search__option:disabled {
  cursor: not-allowed;
}

/**
* Group
*/
.select-search__group-header {
  font-size: 10px;
  text-transform: uppercase;
  background: #eee;
  padding: 8px 16px;
}

/**
* States
*/
.select-search.is-disabled {
  opacity: 0.5;
}

.select-search.is-loading .select-search__value::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cpath fill='%232F2D37' d='M25,5A20.14,20.14,0,0,1,45,22.88a2.51,2.51,0,0,0,2.49,2.26h0A2.52,2.52,0,0,0,50,22.33a25.14,25.14,0,0,0-50,0,2.52,2.52,0,0,0,2.5,2.81h0A2.51,2.51,0,0,0,5,22.88,20.14,20.14,0,0,1,25,5Z'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
  background-size: 11px;
}

.select-search:not(.is-disabled) .select-search__input {
  cursor: pointer;
}

.select-search.is-disabled .select-search__input:hover {
  cursor: not-allowed;
}

/**
* Modifiers
*/
.select-search--multiple {
  border-radius: 3px;
  overflow: hidden;
}

.select-search:not(.is-loading):not(.select-search--multiple)
  .select-search__value::after {
  transform: rotate(45deg);
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  pointer-events: none;
}

.select-search--multiple .select-search__input {
  cursor: initial;
}

.select-search--multiple .select-search__input {
  border-radius: 3px 3px 0 0;
}

.select-search--multiple:not(.select-search--search) .select-search__input {
  cursor: default;
}

.select-search:not(.select-search--multiple) .select-search__input:hover {
  border-color: rgb(0, 150, 187);
}

.select-search:not(.select-search--multiple) .select-search__select {
  position: absolute;
  z-index: 2;
  top: 44px;
  right: 0;
  left: 0;
  border-radius: 3px;
  overflow: auto;
  max-height: 360px;
}

.select-search--multiple .select-search__select {
  position: relative;
  overflow: auto;
  max-height: 260px;
  border-top: 1px solid #eee;
  border-radius: 0 0 3px 3px;
}

.select-search__not-found {
  height: auto;
  padding: 16px;
  text-align: center;
  color: #888;
}

/* detail ticketCSS */
.card1 .btn-detail {
  padding: 10px 20px;
  border-radius: 4px;
  background: rgb(0, 150, 187);
  color: white;
  display: inline-block;
  width: fit-content;
  margin-bottom: 10px;
  margin-left: auto;
  cursor: pointer;
  margin-top: 4px;
}
.card1 .btn-detail:hover {
  cursor: pointer;
  background: rgb(0, 129, 161);
}
