.sigin-wrapper .image-right img {
  width: 70%;
  margin-top: 100px;
}
.sigin-wrapper .image-right {
  display: flex;
  height: 100%;
  place-content: center;
}
.signin-left {
  padding-left: 300px;
  padding-top: 130px;
  display: block;
}
.signup-left {
  padding-left: 300px;
  padding-top: 130px;
  display: none;
}

.signin__header {
  display: flex;
  margin-bottom: 100px;
}
.signin__header .logo-name {
  flex: 1;
  font-weight: 600;
  opacity: 0.8;
}
.signin__header .logo-name i {
  margin-right: 10px;
  font-size: 2rem;
}
.signin__header .logo-name span {
  font-size: 2rem;
}
.signin__header .signin {
  margin-right: 20px;
  color: var(--main-color);
  font-weight: 600;
  position: relative;
  font-size: 1.8rem;
}
.signin__header .signin:after {
  content: "";
  z-index: -1;
  width: 50px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(244, 254, 255);
  position: absolute;
  right: 10px;
}
.signin__header .signup {
  font-weight: 600;
  opacity: 0.5;
  cursor: pointer;
  font-size: 1.8rem;
}

/* body */
.signin__body .signin-title {
  font-size: 3.2rem;
  margin-bottom: 15px;
  opacity: 0.8;
}
.signin__body .signin-desc {
  font-size: 1.6rem;
  opacity: 0.5;
  margin-bottom: 25px;
  margin-top: 25px;
}

.signin__body .input {
  margin-bottom: 20px;
  padding: 15px 16px;
  /* border-bottom: 2px solid rgba(238, 238, 238, 0.384); */
  overflow: hidden;
  display: flex;
  align-items: center;
}

.signin__body input {
  border: none;
  outline: none;
  color: var(--text-color);
  letter-spacing: 0.9px;
  flex: 1;
}
.signin__body input:focus {
  border: none;
  outline: none !important;
}
.signin__body i {
  opacity: 0.4;
  margin-right: 20px;
  margin-left: 5px;
}
.signin__body button {
  margin-top: 40px;
  padding: 15px 150px;
  width: 100%;
  border-radius: var(--border-radius-small);
  background-image: linear-gradient(
    to right,
    var(--third-color),
    var(--second-color)
  );
  color: var(--text-white);
}
