.user-detail__wrapper {
  padding: 5px 20px;
  display: flex;
}

.user-detail__wrapper .row1 {
  display: flex;
}
.user-detail__wrapper .left-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  margin-right: 20px;
}
.user-detail__wrapper .left-panel .image-avatar {
  margin-top: 24px;
  width: 150px;
  height: 150px;
  overflow: hidden;
}
.user-detail__wrapper .left-panel img {
  width: 100%;
  height: 100%;
  border-radius: 50%; 
  object-fit: cover;
}

.user-detail__wrapper .left-panel .user-fullname {
  margin-top: 15px;
  font-size: 1.8rem;
  font-weight: 600;
}
.user-detail__wrapper .left-panel .rank {
  color: var(--white-color);
  background-color: rgb(14, 201, 54);
  font-size: 1.1rem;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 10px 0 30px;
}

.user-detail__wrapper .important-info i {
  margin-right: 12px;
  font-weight: 600;
  opacity: 0.8;
}
.user-detail__wrapper .important-info .phone-number {
  margin-bottom: 14px;
}
.user-detail__wrapper .important-info .email {
  padding-bottom: 30px;
}

/* right panel */

.user-detail__wrapper .right-panel {
  padding: 20px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  margin-left: 20px;
  flex: 1;
}

.user-detail__wrapper .right-panel h3 {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* transaction table */
.user-detail__wrapper .right-panel td {
  padding: 15px 25px;
  min-width: 120px;
}
.user-detail__wrapper .right-panel i.startend {
  margin: 0 10px;
}
.user-detail__wrapper .right-panel .icon-left {
  background-color: rgba(243, 243, 243, 0.479);
  padding: 15px;
  width: 50px;
  height: 50px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  color: var(--main-color);
}
.user-detail__wrapper .right-panel .icon-left.item {
  color: rgb(243, 91, 45);
}
.user-detail__wrapper .right-panel .ticket-booking {
  min-width: 180px;
}
.user-detail__wrapper .right-panel .location {
  margin-bottom: 10px;
  font-size: 1.6rem;
  font-weight: 600;
  opacity: 0.8;
}
.user-detail__wrapper .right-panel .time-booking {
  font-size: 1.4rem;
  font-weight: 500;
  opacity: 0.7;
}
.user-detail__wrapper .right-panel .status {
  padding: 6px 10px;
  text-align: center;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
  font-weight: 600;
  border-radius: var(--border-radius);
}
.user-detail__wrapper .right-panel .status.prepare {
  background-color: rgba(236, 236, 236, 0.295);
  color: var(--status-green);
}
.user-detail__wrapper .right-panel .status.used {
  background-color: rgba(236, 236, 236, 0.295);
  color: blue;
}
.user-detail__wrapper .right-panel .status.cancel {
  background-color: rgba(236, 236, 236, 0.295);
  color: var(--status-red);
}
.user-detail__wrapper .right-panel .btn-detail {
  color: var(--white-color);
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
  padding: 8px 10px;
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--main-color);
}
.user-detail__wrapper .right-panel .btn-detail:hover {
  background-color: rgb(31, 151, 231);
}
.user-detail__wrapper .right-panel .btn-detail i {
  margin: 0 8px 0 5px;
}
.user-detail__wrapper .right-panel .status-booking {
  padding: 10px;
  font-size: 1.4rem;
}
