.topnav {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--topnav-height);
  box-shadow: var(--box-shadow);
  margin: -20px;
}

.topnav__search {
  position: relative;
  height: 50px;
  background-color: var(--main-bg);
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.topnav__search > input {
  height: 100%;
  width: 100%;
  padding: 10px 70px 10px 15px;
  font-size: 1.6rem;
  border-radius: var(--border-radius);
  color: var(--text-color);
}
.topnav__search > i {
  font-size: 2rem;
  position: absolute;
  right: 20px;
}

.topnav__right {
  display: flex;
  align-items: center;
}
.topnav__right-item ~ .topnav__right-item {
  margin-left: 30px;
}

/* user */
.topnav__right-user {
  display: flex;
  align-items: center;
}
.topnav__right-user__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}
.topnav__right-user__img > img {
  width: 100%;
  object-fit: cover;
}
.topnav__right-user__name {
  font-size: 1.6rem;
  font-weight: 600;
}

/* breakcrumb */
.topnav .left-topnav {
  display: flex;
  align-items: center;
}
